html body {
    background-color: black;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}




/* Navbar section */


.navbar {
    justify-content: center;
    align-items: center;
    display: flex;
    top: 0;
    /* z-index: 999; */
    
    position: fixed;
}

.navbar-main {
    background-color: #1b1b1b;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100vw;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar-menu {
    right: 15px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 10px;
    margin-right: 10px;
    text-align: center;
   
}

.navbar-item {
    justify-content: center;
    margin-right: 18px;
    text-decoration: none;
    
    height: 35px;
    width: 70px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    align-items: center;
}

.navbar-links:hover {
    color: #b33a84;
    transition: 0.2s;
    transform: scale(1.1);

}

.navbar-links {
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    bottom: 0;
    padding-bottom: 0;
}

.navbar-btn {
    justify-content: center;
    text-decoration: none;
    background-color: rgb(100, 96, 96);
    height: 35px;
    width: 70px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    align-items: center;
}

.navbar-btn:hover {
    transform: scale(1.1);
    transition: 0.2s;
    background-color: #3b3b3b;
}

.button {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navbar-logo {
    background-color: rgb(218, 63, 153);
    background-image: linear-gradient(to top, #531236 0%, #d386bc 
    100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    position: fixed;
    left: 35px;
    margin: auto;
    top: 20px;
}

/* Main section */


     

.Main-text {
    color: #ffffff;
    font-size: 4rem;
}

.sub-main-text {
    color: #58002c;
    margin-top: -60px;
    font-size: 4rem;
}

.Sub-text {
    color: #ffffff;
    margin-top: -45px;
    font-size: 25px;
}

.text {
    color: #ffffff;
    font-size: 1rem;
    margin-top: -10px;
}

.main {
    display: flex;
}

.Infomation {
    margin-top: 120px;
    margin-left: 140px;
    font-size: 1.6rem;
}

.img {
    margin-left: 300px;
    margin-top: 200px;
    
}

.Main-btn {
    display: flex;
    margin-top: 400px;
    margin-left: -330px;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

.Main-btn-item{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 140px;
    height: 40px;
    margin: 10px;
    background-color: #5c2342;
    border-radius: 5px;

}

.Main-btn-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;

}

.Main-btn-item:hover {
    background-color: #50002c;
    transform: scale(1.1);
    transition: 0.5s;
}

/* About section */

.About {
    margin-top: 200px;
    

}

.About-head h1{
    color: #570129;
    font-size: 60px;
    margin-left: 535px;
}

.About-head p{
    color: #ffffff;

}

.about-first-text {
    margin-top: -45px;
    margin-left: 485px;

}

.about-sec-text {
    margin-left: 605px;
}

.About-left {
    color: #ffffff;
    /* margin-top: 100px;
    margin-left: 100px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    scroll-snap-align: center;
}
.AB-left-S {
    color: #69003a;
    margin-top: -25px;
    font-size: 50px;
}

.AB-left-F {
    font-size: 50px;
}

.About-left p {
    margin-top: -10px;
    font-size: 17.5px;
}

.About-btn {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 140px;
    height: 40px;
    margin: 10px;
    background-color: #30020f;
    border-radius: 5px;
    

}

.About-left img{
    border-radius: 100px;
    width: 350px;
}

.About-item {
    color: #ffffff;
    text-decoration: none;
}

.About-btn:hover {
    background-color: #531236;
    transition: 0.5s;
    transform: scale(1.1);
}

.Portfolio {
    align-items: center;
    text-align: center;
    font-size: 60px;
    color: #720046;

}

.Certificate {
    color: #ffffff;
}



.tub {
    color: #ffffff;
}